* {
  box-sizing: border-box; }

body {
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif; }

#sidebar {
  flex: 0 0 400px;
  padding: 15px;
  padding-left: 30px;
  box-shadow: 0px 0px 30px 0px black;
  height: 100vh;
  overflow: auto; }

#view-container {
  flex: 1 0 500px;
  padding: 15px;
  padding-left: 30px; }

.view {
  display: none; }

h1, h2, h3, h4 {
  font-family: "Lato", "Roboto", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2em; }

.sidebar-list {
  list-style: none;
  padding: 0; }
  .sidebar-list li {
    margin: 5px;
    padding: 10px 15px;
    background: #FFFFFF;
    border-radius: 2px; }
    .sidebar-list li.active {
      background-color: #E8EAEC;
      font-weight: bold; }
    .sidebar-list li:hover {
      background-color: #C8C8C8; }

[data-link] {
  cursor: pointer; }

input, textarea {
  width: 300px; }
  input[type="checkbox"], textarea[type="checkbox"] {
    width: auto; }

#field-container {
  margin-top: 35px; }

.field {
  margin-top: 10px; }
  .field button {
    margin-left: 2em; }

button {
  background: white;
  border: 1px solid #A9A9A9;
  padding: 2px 15px;
  cursor: pointer; }
  button:hover {
    background: #EAEAEA; }

.field-type {
  color: grey;
  font-size: .75em;
  margin-left: .5em; }

.btn-update-all {
  width: 300px;
  margin-top: 20px;
  font-weight: bold; }

#results {
  margin-top: 40px; }

h3 {
  margin-bottom: 5px; }

table {
  border-collapse: collapse; }

th, td {
  border: 1px solid grey;
  padding: 5px 15px; }

th {
  background: white; }

#team_list tr:hover {
  background: rgba(1, 1, 1, 0.15); }

#team-editor {
  margin-bottom: 25px; }

button {
  margin-right: 15px; }

/*# sourceMappingURL=judge.css.map */
