* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "Roboto", "Lato", sans-serif;
}


a {
	text-decoration: none;
	color: inherit;

	&:hover {
		border-bottom: 1px #000000 solid;
	}
}

//

header {
	padding: 10px 15px;
	background: #E2E2E2;

    box-shadow: 0 0px 10px 0px #000000;

	h1 {
		font-weight: 100;
	}
}

main {
	padding: 30px 15px 15px;
}

//

input {
	width: 300px;
	height: 2.5em;
}

button {
	height: 2.5em;
	background: #ECECEC;
	border-radius: 0;
	border: 1px #BDBDBD solid;

	cursor: pointer;

	&:hover{
		border: 1px #000000 solid;
	}
}

pre {
	font-family: "Consolas", monospace;

	border-left: 2px #C7DEFC solid;
	padding: 1em 0.5em;
}
